:root {
  --var-bg-color: #ffffff;
  --var-first-bg-color: #00b7ff3d;
  --var-point-color: #289aff;
}

#main_contents {
  /* background-color: #ecf0f1; */
  background-color: var(--var-first-bg-color);
  -webkit-transition: background 1.5s;
  -moz-transition: background-color 1.5s;
  -ms-transition: background-color 1.5s;
  -o-transition: background-color 1.5s;
  transition: background 2.5s;
  margin: 0 auto;

  font-family: 'Noto Serif KR', 'Noto Sans KR', 'Spoqa Han Sans', 'Sans-serif';
}

.timeline_bg {
  background-color: var(--var-bg-color) !important;
  /* background-color: #454f5d !important; */
  /* background-color: black !important; */
}

/*스크롤바 디자인  */
::-webkit-scrollbar {
  position: fixed;
  max-height: 30px;
  width: 8px;
  background-color: var(--var-bg-color);
}
::-webkit-scrollbar-button {
  display: none;
}
::-webkit-scrollbar-thumb {
  /* background-color: rgba(32, 148, 250, 0.83); */
  background-color: var(--var-point-color);
  border-radius: 6px;
  border: 2px solid var(--var-bg-color);
}

::-webkit-scrollbar-track {
  display: none;
}
