#timeline_section_wrapper {
  /* height: 120vh; */
  /* background-color: #576574; */
  font-size: 32px;
  font-weight: 600;
  color: aliceblue;
  font-family: 'Noto Sans KR', 'Spoqa Han Sans', 'Sans-serif';
}

h2 {
  font-size: 46px;
  /* color: #333333; */
}
.timeline_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5vh;
  /* height: 25vh; */
  /* background-color: white; */
  opacity: 0;
  transition: opacity 1s linear;
}

.onToggle {
  opacity: 1 !important;
  /* bottom은 컨텐츠 영역을 위한 속성 */
  margin-top: 0 !important;
}

.timeline_date {
  width: 91vw;
  /* color: #333333; */
  margin-bottom: 35px;
  font-size: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.timeline_empty_wrapper {
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.timeline {
  display: flex;
  flex-direction: row;
  align-self: center;

  height: 10vh;
  width: 93vw;
  padding: 20px 0;
  /* background-color: gray; */
}

.timeline > ol {
  padding: 3px;
  margin: 5px 3px;
  opacity: 0.5;
  flex: 1;
  align-self: center;
  align-items: center;
  text-align: center;
  font-size: 18px;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  transition: opacity 0.3s;
  cursor: pointer;
  /* margin: 0, auto; */
}
.timeline > ol:hover {
  opacity: 1;
}

.timeline_line {
  /* margin-top: 2px; */
  height: 10px;
  width: 100%;
  object-fit: none;
  /* opacity: 0.7; */
  /* border-radius: 5px; */
  transition: opacity 0.7s;
  filter: invert(100%);
}

/* 활성화 된 타임라인 아이템 */
.active {
  opacity: 1 !important;
  font-weight: 600 !important;
}

.timeline_hover_img {
  height: 30px;
  width: 30px;
  filter: invert();
  /* opacity: 0; */
}

.contents_wrapper {
  opacity: 0;
  position: relative;
  margin-top: 150px;
  transition: opacity 2.5s ease, margin 1.5s;
}

/* 반응형 */

@media screen and (max-width: 768px) {
  h2 {
    font-size: 24px;
    margin: 10px, 10px;
    /* margin-bottom: 15px; */
  }
  .timeline {
    width: 98vw;
    padding: 5px 0;
  }
  .timeline_date {
    font-size: 14px;
    font-weight: bolder;
    margin-bottom: 15px;
  }
  .timeline > ol {
    font-size: 9px;
    font-weight: 200;
    letter-spacing: -0.3px;
  }
  .timeline_hover_img {
    height: 20px;
    width: 20px;
    margin-top: 5px;
    filter: invert();
    /* opacity: 0; */
  }

  .active {
    letter-spacing: -0.7px !important;
    font-weight: 700 !important;
  }
}
