body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@import url('https://cdn.rawgit.com/kattergil/NotoSerifKR-Web/76eb9ebf/stylesheet/NotoSerif-Web.css');
/* NotoSerifKR-Web
 글씨체 다운로드 url */
@import url('https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css');
/* spoqa-han-sans 글꼴 */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,300');

@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);
/* noto sans kr 'Noto Sans KR' */
